mujoco==3.0.1
gym==0.25.2
tensorboard==2.15.1
tensorboardX==2.6.1
matplotlib==3.8.2
ipython==7.34.0
moviepy==1.0.3
pyvirtualdisplay==3.0
torch==2.2
opencv-python==4.6.0.66
ipdb==0.13.9
swig==4.0.2
box2d-py==2.3.8
